<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>System Diagnostics - About</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/hobbies">Hobbies</a>
    </nav>


        <p style="font-style: italic; border-left: 2px solid var(--accent); padding-left: 15px;">
            "{{ bio }}"
        </p>


    </div>
</body>
</html>
