<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Aylar's Hobbies</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/hobbies">Hobbies</a>
    </nav>

    <div class="card">
        <h1>My Interests</h1>
        <ul>
            {% for hobby in hobbies %}
                <li>{{ hobby }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>